

section{
    height: 580px;
    width: auto;
    padding: 65px 0 65px 0;

}

section .container{
    height: 450px;
    width: 1200px;
    margin: 50px 55px 0 55px;
    padding: 0 15px 0 15px;
    display: flex;
}

.container .quadrado img{  
  height: 500px;
  width: 468px;
}

.container h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 10px;
}

.container span{
    font-size: 16px;
    font-weight: 700;
    color: #C4C4CC;
    margin-left: 50px;
}

.quantidade {
    height: 77px;
    width: 597px;
    margin: 0 0 15px 0;
}

.quantidade label{
    font-size: 16px;
    color: #C4C4CC;
    margin-left: 50px;

}

.quantidade #quantidade{
    height: 20px;
    width: 60px;
    font: 16px;
    padding: 8px 6px 8px 12px;
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    background-color: #222222;
    color: #EB5757;
}

.quantidade #add-cart{
    margin-left: 5px;
    font-weight: 700;
    height: 38px;
    width: 170px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #EB5757;
}

.quantidade #add-cart:hover{
    background-color: #833232;
    color: #fff;
}


iframe{
    height: 300px;
    width: 600px;
    margin-left: 50px;
    margin-top: 13px;
}